@media screen and (width < 800px) {
  #hero-image-container {
    content: url("/images/image-hero-mobile.webp");
    width: 100%;
    min-height: calc(100vw / 1.33);
  }
}

@media screen and (500px < width < 800px) {
  #title {
    font-size: 3rem;
  }
}

@media screen and (width > 800px) {
  #hero-image-container {
    content: url("/images/image-hero-desktop.webp");
    aspect-ratio: 960/1280;
  }
}
